<!DOCTYPE html>
<html>
    <head>
        <title>Basic Schedule page</title>
    </head>
    <center>
        <h1> Welcome {{value}},</h1>

    </center>

    <h3> Your schedule for next week </h3>
    <style>
        table, th, td {
          border:1px solid black;
        }
    </style>
    
    <table>
        <tr>
          <th>DAY</th>
          <th>TIME</th>
          
        </tr>
        <tr>
          <td>MON</td>
          <td>{{value1}}</td>
          
        </tr>
        <tr>
            <td>TUES</td>
            <td>{{value2}}</td>
        </tr>
        <tr>
            <td>WED</td>
            <td>{{value2}}</td>
        </tr>
        <tr>
            <td>THURS</td>
            <td>{{value3}}</td>
        </tr>
        <tr>
            <td>FRI</td>
            <td>{{value4}}</td>
        </tr>
        <tr>
            <td>SAT</td>
            <td>{{value5}}</td>
        </tr>
        <tr>
            <td>SUN</td>
            <td>{{value6}}</td>
        </tr>

      </table>
    
      

</html>    
